<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Welcome To My Game</title>
</head>
<body>
    <ul>
        <h1>HOME OF THE BEST GAMES</h1><b>
        <li><a href="/">Home</a></li>
        <li><a href="/">New games</a></li>
        <li><a href="/">Contact Us</a></li>
     </ul>
     <hr><b>
    {% block content %}{% endblock %}

    <br><br>

        <footer> &copy ATHOMASGAMES 2021</footer>
    </body>
</html>