<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
    <title>{{ title }} - Welcome To My Game</title>
</head>
<body>
    <header id="header">
        <h1>HOME OF THE BEST GAMES</h1><b>
        <nav>
            <ul id="menu">
                <li>
                    <a href="/home">Home</a>
                </li>
                <br>
                <li>
                    <a href="/play">Play v Comp</a>
                </li>
        </nav>
    </header>
        <hr>
        <br<br><br>
    <MAIN>

    {% block content %}{% endblock %}

    </MAIN>
     
    <footer class="footer"> 
        

    <p>&copy ATHOMASGAMES 2021</p>

    </footer>
</body>
</html>